---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import FeaturedProducts from "../components/FeaturedProducts.astro";
import Categories from "../components/Categories.astro";
import TestimonialBanner from "../components/TestimonialBanner.astro";
import About from "../components/About.astro";
import Policies from "../components/Policies.astro";
import Reviews from "../components/Reviews.astro";
import Benefits from "../components/Benefits.astro";
import FAQ from "../components/FAQ.astro";
import Blog from "../components/Blog.astro";
import BannerFooter from "../components/BannerFooter.astro";
import Footer from "../components/Footer.astro";
import heroBanner from "../img/banner1.optimized.avif";
---

<Layout>
  <Fragment slot="head">
    <link rel="preload" as="image" href={heroBanner.src} fetchpriority="high" />
  </Fragment>
  <Navbar />
  <main class="w-full">
    <Hero />
    <FeaturedProducts />
    <Categories />
    <TestimonialBanner />
    <About />
    <Policies />
    <Reviews />
    <Benefits />
    <FAQ />
    <Blog />
    <BannerFooter />
  </main>
  <Footer />
</Layout>
