---

const paragraphs = [
    "Agencias Nacionales S.A.S, como empresa dedicada a la producción de calzado y uniformes de trabajo (Código CIIU 1521 y código CIIU 1410), se compromete a cumplir con las normas colombianas vigentes de seguridad y salud en el trabajo, para dar toda la importancia al recurso humano que interviene en las diferentes actividades de su objeto social, independientemente de su forma de contratación o vinculación, incluyendo contratistas y subcontratistas como valor fundamental en el logro de sus objetivos estratégicos.",
    "Agencias Nacionales S.A.S se compromete con el desarrollo de todas las acciones que tienen como objetivo identificar los peligros, evaluar y valorar los riesgos laborales para establecer sus respectivos controles; igualmente con la asignación de los recursos humanos, técnicos y económicos necesarios para la implementación del SG-SST, dando cumplimiento a la legislación vigente, mediante la mejora continua para proteger la seguridad y la salud de todos los trabajadores.",
    "La empresa apoya los diferentes comités de Seguridad y Salud en el Trabajo, en el cumplimiento de sus funciones como organismos de promoción y vigilancia de las normas y reglamentos dentro de la empresa. Los empleados deben participar en todas las actividades de promoción y prevención e informar los riesgos a los cuales están expuestos, contribuyendo con la mejora continua de sus condiciones de seguridad y salud en el trabajo.",
    "Finalmente, el compromiso de mantener, preservar y mejorar las condiciones de salud depende, en última instancia, de todos y cada uno de los miembros de la organización. Su participación y aportes son la parte fundamental para la construcción de un entorno laboral seguro y saludable."
];

---

<div class="w-full px-8 py-8 sm:px-6 lg:px-100">

    <div class="space-y- text-gray-800 text-m leading-[1.7]">

        {paragraphs.map((p) => (
            <p>{p}</p>
        ))}

    </div>

</div>