---
const commitments = [
  "Nuestro propósito fundamental es lograr la satisfacción del cliente.",
  "Aspiramos a ser una empresa íntegra y comprometida con la responsabilidad social.",
  "Formaremos un equipo de talento humano capacitado y plenamente motivado.",
  "Mantendremos un enfoque competitivo basado en la excelencia y la calidad del servicio.",
  "Sostenemos una política de calidad basada en el principio de mejora continua en todos nuestros procesos.",
];
---

<div class="w-full px-8 py-8 sm:px-6 lg:px-100">
  <div class="space-y-4 text-gray-800 text-m leading-[1.7]">
    <ul class="list-disc pl-6 space-y-2">
      {commitments.map((item) => <li>{item}</li>)}
    </ul>
  </div>
</div>
