---

const paragraphs = [
"Introducción e identificación del responsable del tratamiento",

"La empresa AGENCIAS NACIONALES S.A.S., identificada con el NIT 890.903.993-3 haciendo cumplimiento de la ley 1581 de 2012 y su decreto reglamentario número 1377 de 2013, es decir, las leyes de protección de datos personales que regulan y establecen las garantías legales mínimas que deben cumplir todos los colombianos para que se lleve a cabo el debido tratamiento de dicha información, lleva a cabo las siguientes políticas para el tratamiento de datos personales dentro de la empresa. Apartir de este punto, AGENCIAS NACIONALES S.A.S. será referida como AGENCIAS NACIONALES.",

"AGENCIAS NACIONALES tiene su domicilio y sede principal ubicada en Envigado, Antioquia, en la dirección carrera 47 n.º 20 sur 7 – bosques de Zúñiga. El teléfono de la compañía es 322 22 92 y el correo electrónico que se ha habilitado para tratar todo lo referente al tema de tratamiento de datos es contactanos@agenciasnacionales.com.",

"Área de talento humano: Es el área encargada de gestionar los recursos humanos de la empresa y los procesos referentes a los mismos.",

"Actualizaciones o modificaciones de este documento Respecto a las modificaciones que se hagan a estas políticas, AGENCIAS NACIONALES se reserva el derecho de llevar a cabo tales modificaciones en cualquier momento, teniendo como deber informar a todos los titulares cualquier modificación que se haga 10 días antes de que entren en vigencia, usando como medio para tal tarea la página web de la empresa o bien los medios convencionales. En caso de que algún titular de la información no esté de acuerdo con esta política o con los cambios que se apliquen a esta, podrá solicitar a la entidad el retiro de su información a través de los canales indicados anteriormente; sin embargo, no se podrá solicitar el retiro de los datos mientras se mantenga un vínculo de cualquier orden con la entidad.",

"Términos a tener en cuenta Administración: Es el área encargada del manejo de procesos administrativos de la empresa.",

"Área de talento humano: Es el área encargada de gestionar los recursos humanos de la empresa y los procesos referentes a los mismos.",
 
"Autorización: Es el consentimiento previo, expreso e informado del titular para llevar a cabo el tratamiento de sus datos personales. ",

"Autorizado: Es la compañía y todas las personas que están bajo la responsabilidad de la misma, que por virtud de la Autorización y de estas Políticas tienen legitimidad para tratar los Datos Personales del Titular. El autorizado incluye al género de los habilitados.",

"Aviso de privacidad: Es un documento redactado por el responsable, que está a disposición del titular de la información para el tratamiento de sus datos personales, como medida provisional en caso de no poder acceder a la política de privacidad (este documento). ",

"Base de datos: Conjunto de datos personales dispuesto para el tratamiento de los mismos. ",

"La Compañía: AGENCIAS NACIONALES S.A.S. ",

"Datos personales: Es la información asociada a una o varias personas naturales determinadas o determinables. Estos datos pueden caer en las siguientes categorías: ",

"Dato privado: Estos son los datos de carácter íntimo que solo son relevantes para el titular de la información y que solo pueden ser tratados con autorización del mismo. Como ejemplo claro tenemos su historia clínica. ",

"Dato sensible: Es el Dato Personal que afecta la intimidad del Titular o cuyo uso indebido puede generar su discriminación. Algunos ejemplos serían el origen racial o étnico, las convicciones religiosas, morales o filosóficas, etc. Este tipo de datos podrá ser objeto de tratamiento por parte de AGENCIAS NACIONALES, previa autorización de sus funcionarios, clientes o accionistas para ello. ",

"Dato semiprivado: Es el dato que no es de carácter íntimo y puede ser del interés de un sector o grupo de personas, además de su titular. Un ejemplo claro es el historial de cumplimiento de obligaciones en las centrales de riesgo crediticio. ",

"Dato personal: Es aquel dato que, según la ley colombiana, es calificado como tal; además, es aquel que no sea semiprivado, privado o sensible. Como ejemplo tenemos los datos contenidos en documentos públicos, el estado civil de una persona, su profesión y todo aquel dato que pueda obtenerse sin reserva alguna. De acuerdo a lo establecido por la Superintendencia de Industria y Comercio, los datos de directorio o que se hallan por consultas en internet no se pueden considerar públicos y su tratamiento debe seguir los principios del manejo de información personal. ",

"Encargado del tratamiento de datos personales: Es la persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realiza el respectivo tratamiento de datos personales por cuenta del responsable del tratamiento. ",

"Registro Nacional de Bases de Datos: Directorio público de las bases de datos sujetas a tratamiento en el territorio colombiano. ",

"Responsable del tratamiento: Es la persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros decide sobre la base de datos y/o el tratamiento de los datos. ",

"Titular de la información: Es la persona natural cuyos datos personales son objeto de tratamiento. ",

"Transferencia: Es la parte del tratamiento de datos personales que requiere la comunicación de los datos dentro o fuera de la República de Colombia, siempre y cuando tenga por objeto la realización de un tratamiento por el encargado por cuenta del responsable. ",

"Transmisión: Es la parte del tratamiento de datos personales que requiere la comunicación de los datos, internamente o con terceras personas, dentro o fuera de la República de Colombia, siempre y cuando tenga por objeto la realización de cualquier actividad de tratamiento por el receptor del dato personal. Tratamiento de datos personales: Es toda operación y procedimiento sistemático, electrónico o no, sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión. ",

"Principios del tratamiento de datos personales AGENCIAS NACIONALES, en el desarrollo de sus actividades comerciales, recolectará, utilizará, almacenará, transmitirá y realizará diversas operaciones sobre los datos personales de los Titulares. Todas las actividades que llevara a la compañía con los datos personales estarán sometidas a los principios que se listarán a continuación, que deberán ser acatadas por los Responsables, Encargados y/o terceros a quienes se les transfiera Datos Personales, con el fin de dar cumplimiento a los principios y reglas establecidas en la Ley y en esta Política, todo esto con el fin de garantizar el derecho al habeas data de los titulares y así dar cumplimiento a las obligaciones de la compañía con la ley. Estos principios son:",
 
" A) Autorización previa o principio de libertad El tratamiento de datos personales por parte de AGENCIAS NACIONALES solo se podrá llevar a cabo con autorización previa, expresa e informada por parte del titular de la información, salvo que la ley establezca una excepción a esta regla. En caso tal de que los datos hayan sido obtenidos de manera previa a la ley, AGENCIAS NACIONALES convocará por los medios ordinarios y alternativos a los titulares de la información para así poder obtener su autorización. ",
 
" B) Legalidad Al ser una actividad reglada por la ley colombiana, el tratamiento de datos personales y todos los procesos de negocios y destinatarios de esta norma deben sujetarse a lo dispuesto en esta norma. ",
 
" C) Finalidad autorizada Toda actividad de tratamiento de datos personales debe obedecer a una finalidad legítima, que debe estar establecida en esta Política o en la Autorización otorgada por el Titular de los Datos Personales, o en los documentos específicos donde se regule cada tipo o proceso de tratamiento de datos personales, todo esto de acuerdo a lo dictado por la ley y la constitución. Esta finalidad debe ser informada de manera concreta, precisa y previa al titular para que este exprese su consentimiento informado. ",
 
" D) Calidad o veracidad del dato Todo dato personal recolectado para tratamiento debe ser veraz, completo, exacto, actualizado, comprobable y comprensible. Está prohibido el tratamiento de datos parciales, fraccionados, incompletos o que induzcan a error. ",
 
" E) Transparencia Cuando el titular lo solicite, AGENCIAS NACIONALES deberá hacer entrega de la información acerca de la existencia de Datos Personales que le conciernan al solicitante por medio del responsable y/o encargado del tratamiento. ",
 
" F) Acceso y circulación restringida: Todo dato personal recolectado por AGENCIAS NACIONALES solo podrá ser tratado por el personal de la compañía habilitado autorizado para ese proceso y para aquellos que tengan funciones relacionadas con el uso de los mismos para tales procesos. No se les entregarán datos personales a personas que no tengan la autorización para el tratamiento o manejo de los mismos. Los datos recolectados solo serán usados en el ámbito de la finalidad y autorización concedida por el titular. Los datos personales bajo custodia de la compañía no podrán ser publicados en internet o en cualquier otro medio de comunicación masivo a menos que se cumplan con las medidas técnicas y de seguridad para que el acceso a esa información esté restringido solo a los titulares o terceros autorizados conforme a lo dispuesto en la ley y los principios que gobiernan la materia. Como excepción a lo anterior están aquellos eventos en los cuales la ley exija la revelación de estos datos masivos como Internet o bien exista la previa autorización del titular para hacerlo. ", 
 
" G) Temporalidad AGENCIAS NACIONALES no usará la información del titular más allá del plazo razonable que exija la finalidad que fue informada al titular de los datos personales; en ese momento la compañía cesará el uso de los mismos y, por ende, adoptará las medidas pertinentes que aseguren su eliminación. Para tal fin se tendrán en cuenta las obligaciones de ley comercial en materia de conservación de libros de comercio y correspondencia del comerciante. Ahora bien, en caso de considerarse necesario, los datos podrán permanecer en las bases de datos de AGENCIAS NACIONALES cuando sean requeridos para dar cumplimiento a un deber legal u orden judicial, así como cuando su tratamiento se limite a su conservación para fines históricos o estadísticos. ",
 
" H) Seguridad del dato AGENCIAS NACIONALES deberá siempre realizar el tratamiento de datos personales disponiendo de las medidas técnicas, humanas y administrativas que resulten necesarias para mantener la confidencialidad del dato y para evitar que sea este adulterado, modificado, consultado, usado, accedido, eliminado o conocido por personas no autorizadas o por personas autorizadas y no autorizadas de manera fraudulenta, o que el dato personal se pierda. Todo nuevo proyecto que implique el tratamiento de datos personales deberá ser consultado con esta Política de Tratamiento para asegurar el cumplimiento de esta regla. ",
 
" I) Confidencialidad y tratamiento posterior: Todos los datos personales que no sean públicos deben ser tratados como confidenciales aun después de finalizada la relación que dio origen a la recolección de tales datos. A la terminación de dicho vínculo, tales Datos Personales deben continuar siendo tratados de conformidad con esta Política y con la Ley. ",
 
" J) Deber de información La compañía informará a los titulares de la información el régimen de protección de datos adoptado por la organización, así como respecto de la finalidad y demás principios que regulan el tratamiento de estos datos. También se informará sobre la existencia de las bases de datos personales que AGENCIAS NACIONALES custodie, los derechos y el ejercicio del habeas data por parte de los titulares, procediendo al registro que exige la ley. ",
 
" K) Protección especial de datos sensibles AGENCIAS NACIONALES jamás recolectará ni tratará datos personales sensibles, ni tampoco condicionará ninguna actividad a la suministración de datos sensibles, salvo autorización expresa del titular o por expresa disposición legal. ",
 
"Deberes de la compañía como responsable y encargada del tratamiento de los datos personales. ",
 
 "AGENCIAS NACIONALES reconoce la titularidad que de los datos personales ostentan las personas y, en consecuencia, ellas de manera exclusiva pueden decidir sobre los mismos. Por lo tanto, la compañía utilizará los datos personales para el cumplimiento de las finalidades autorizadas expresamente por el titular o por las normas vigentes. En el tratamiento y protección de datos personales, AGENCIAS NACIONALES tendrá los siguientes deberes, sin perjuicio de otros previstos en las disposiciones que regulen o lleguen a regular esta materia: ",
 
 "- Garantizar al titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data. ",
 
 "- Solicitar y conservar copia de la respectiva autorización otorgada por el titular para el tratamiento de datos personales. ",
 
"- Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten en virtud de la autorización otorgada. ",
 
"- Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento. ",
 
 "- Garantizar que la información sea veraz, completa, exacta, actualizada, comprobable y comprensible. ",
 
 "- Actualizar oportunamente la información, atendiendo de esta forma todas las novedades respecto de los datos del titular. Adicionalmente, se deberán implementar todas las medidas necesarias para que la información se mantenga actualizada. ",
 
 "- Rectificar la información cuando sea incorrecta y comunicar lo pertinente. Respetar las condiciones de seguridad y privacidad de la información del titular. ",
 
 "- Tramitar las consultas y reclamos formulados en los términos señalados por la ley. ",
 
 "- Identificar cuándo determinada información se encuentra en discusión por parte del titular. ",
 
 "- Informar a solicitud del titular sobre el uso dado a sus datos. ",
 
 "- Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los titulares.",
 
 "- Cumplir los requerimientos e instrucciones que imparta la Superintendencia de Industria y Comercio sobre el tema en particular. ",
 
 "- Usar únicamente datos cuyo tratamiento esté previamente autorizado de conformidad con lo previsto en la ley 1581 de 2012. ",
 
 "- Velar por el uso adecuado de los datos personales de los niños, niñas y adolescentes, en aquellos casos en que se entra autorizado el tratamiento de sus datos. ",
 
 "- Registrar en la base de datos la leyenda reclamo en trámite en la forma en que se regula en la ley. ",
 
 "- Insertar en la base de datos la leyenda información en discusión judicial una vez notificado por parte de la autoridad competente sobre procesos judiciales relacionados con la calidad del dato personal. ",
 
 "- Abstenerse de circular información que esté siendo controvertida por el titular y cuyo bloqueo haya sido ordenado por la Superintendencia de Industria y Comercio. ",
 
 "- Permitir el acceso a la información únicamente a las personas que pueden tener acceso a ella. ",
 
 "- Usar los datos personales del titular solo para aquellas finalidades para las que se encuentre facultada debidamente y respetando en todo caso la normatividad vigente sobre protección de datos personales. ",
 
 "Derechos de los titulares de los datos personales De acuerdo con lo dictado por la ley, los titulares de la información cuentan con los derechos dictados a continuación: ",
 
 "Derecho a conocer, actualizar y rectificar los datos personales frente a la compañía o a los encargados de la información. Esto comprende la facultad del titular del dato de obtener toda la información respecto de sus propios datos personales, sean parciales o completos, del tratamiento aplicado a los mismos, de la finalidad del tratamiento, la ubicación de las bases de datos que contienen sus datos personales y sobre las comunicaciones y/o cesiones realizadas respecto de ellos, sean estas autorizadas o no. El derecho a actualizar y rectificar los datos se podrá ejercer, entre otros, frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado. ",
 
 "Derecho a solicitar la prueba de la autorización del manejo de los datos personales otorgada a AGENCIAS NACIONALES, a menos que la ley indique que dicha autorización no es necesaria. ",
 
 "Derecho a solicitarle a la compañía o al Encargado del Tratamiento la información acerca del uso que se les ha dado a sus datos, y que estos le provean tal información. ",
 
 "Derecho a cancelar sus datos personales o eliminarlos cuando estos sean excesivos, no pertinentes, o el tratamiento vaya en contra de las normas, salvo en aquellos casos que estén contemplados como excepciones por la ley, o cuando se mantengan en razón de la existencia de una relación contractual o comercial. ",
 
 "Derecho a revocar la autorización del manejo de los datos personales que daba la facultad a AGENCIAS NACIONALES de tratarlos para la finalidad determinada por la entidad, a menos que la ley contemple alguna excepción y/o que sea necesario en un marco contractual específico. ",
 
 "Derecho a presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a la ley. ",
 
 "Derecho a solicitar acceso a su información (incluido el manejo de la misma) y a poder acceder a esta de manera gratuita, tal y como lo dicta el artículo 21 del Decreto 1377 del 2013. ",
 
 "Derecho a conocer cualquier modificación que se haga a estas políticas de manera oportuna y clara. - Derecho a acceder a estas políticas y a sus respectivos cambios de manera clara y sencilla. ",
 
 "Derecho a oponerse al tratamiento de sus datos personales, excepto en los casos en que tal derecho no proceda por disposición legal o por vulnerar intereses generales superiores al interés particular. ",
 
 "Derecho a otorgar autorización para el tratamiento de datos personales por cualquier medio que pueda ser objeto de consulta posterior, para tratar sus datos personales en AGENCIAS NACIONALES. Como excepción, esta autorización no será requerida cuando se cumpla alguna de estas condiciones: ",
 
 "A) Cuando la información sea requerida o deba ser entregada a una entidad pública o administrativa en cumplimiento de sus funciones legales, o por orden judicial.", 
 
 "B) Cuando se trate de datos de naturaleza pública. ",
 
 "C) En casos de emergencia médica o sanitaria. ",
 
 "D) Cuando sea tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos. ",
 
"E) Cuando se trate de datos personales relacionados con el Registro Civil de las personas.",
 
 "Aunque en estos casos no se requiera autorización, sí se aplicarán los demás principios y disposiciones legales sobre protección de datos personales. ",
 
 "Derecho a acceder de manera fácil y sencilla a los Datos Personales que se encuentran bajo el control de AGENCIAS NACIONALES para ejercer efectivamente los derechos que la Ley les otorga a los Titulares. ",
 
 "Derecho a conocer la dependencia o la persona habilitada por la compañía frente a quien podrá presentar quejas, consultas, reclamos y cualquier otra solicitud sobre sus Datos Personales. ",
 
 "Como apunte general, los titulares podrán ejercer sus derechos de ley y realizar los procedimientos establecidos en esta política, mediante la presentación de su cédula de ciudadanía o documento de identificación original. Los menores de edad podrán ejercer sus derechos personalmente, o a través de sus padres o los adultos que detenten la patria potestad, quienes deberán demostrarlo mediante la documentación pertinente. Así mismo podrán ejercer los derechos del titular los causahabientes que acrediten dicha calidad, el representante y/o apoderado del titular con la acreditación correspondiente y aquellos que han hecho una estipulación a favor de otro o para otro. Para el ejercicio de estos derechos, el titular de la información podrá contactarse con la entidad a través de comunicación escrita dirigida a la siguiente dirección de correo electrónico contactanos@agenciasnacionales.com o por medio de un documento escrito dirigido a la dirección Cra 47 N.º 20 sur – 7 Bosques de Zúñiga, EnvigadoAntioquia. ",
 
 "Políticas generales El objetivo de AGENCIAS NACIONALES en cuanto a la protección y manejo (tratamiento) de los datos personales es brindar las condiciones óptimas para asegurar la integridad, la veracidad, la transparencia y confidencialidad de las bases de datos y la información que estas contienen, siempre brindando disponibilidad de esta información a sus accionistas, proveedores, postulantes, empleados y ex empleados, como corresponda a cada uno de estos, garantizando disponibilidad de la infraestructura tecnológica para el tratamiento de los datos personales recolectados para fines legales, contractuales y comerciales. En pos de este objetivo AGENCIAS NACIONALES se compromete totalmente a cumplir con todos los puntos dictados por la norma vigente, trabajando en pos de buscar siempre los mejores mecanismos para asegurar la protección de los derechos de los titulares de la información cuyos datos sean tratados por la entidad, teniendo como prioridad la seguridad e integridad de la información. Además, en la Autorización de Tratamiento de datos que en cada caso se solicite, se indicará que los mismos pueden ser transferidos a entidades que cumplirán la función de encargados en los términos establecidos por la Ley 1581 de 2012 o a las vinculadas de la organización. ",
 
 "Referentes a menores de edad AGENCIAS NACIONALES no lleva a cabo ninguna de sus actividades con información de menores de edad. Ahora bien, dado el caso de que sea necesario usar esta información para el tratamiento de datos, se tendrá en cuenta su interés prevalente y no se efectuará de ninguna manera sin contar previamente con la autorización por parte de sus representantes legales. ",
 
"Políticas y finalidades específicas Todas las operaciones de tratamiento de datos personales que sean llevadas a cabo por AGENCIAS NACIONALES serán llevadas a cabo en base a las siguientes normas: ",

"Tratamiento de datos referentes a la gestión humana. Existirán bases de datos independientes para el tratamiento de datos personales, antes, durante y después de la relación laboral.", 

"A) Tratamiento antes de la relación contractual AGENCIAS NACIONALES dará a conocer de manera anticipada las reglas aplicables al tratamiento de datos personales que se aplicarán a la información que suministren todas aquellas personas interesadas en participar en un proceso de selección. Si AGENCIAS NACIONALES lleva a cabo la contratación de un tercero para el adelanto de un proyecto o actividad requerida, todos los datos personales que se reciban en el proceso serán tratados en base a las políticas expuestas en este documento. El objetivo final del tratamiento de toda la información suministrada y obtenida de los interesados en vacantes dentro de AGENCIAS NACIONALES es que esta información solo sea utilizada en el proceso de participación en tal convocatoria, por lo cual está prohibido que se use con otro fin. ",

"B) Durante la relación contractual Se almacenarán los datos personales de cada uno de los empleados que se hayan recaudado durante el proceso de selección en una carpeta que llevará el nombre de cada uno de ellos. A esta carpeta solo podrá acceder el área de gestión humana y administrativa con el fin de administrar todo lo referente a la relación entre AGENCIAS NACIONALES y el empleado. En caso de que durante la relación laboral entre la empresa y el empleado se deban recopilar datos sensibles, estos solo podrán ser recopilados al tener la autorización escrita del empleado, y que este sepa qué datos se le solicitarán y cuál es el objetivo de tal recolección. En caso de que se requiera algún servicio de un tercero durante la relación del contrato contractual, es posible que sea necesaria la transferencia o cesión de datos a estos terceros, con el fin de que este sea el encargado de la administración del tratamiento. Para este caso, en la Autorización expresa del empleado autorizando el tratamiento, se incluirá la autorización para transferencia de datos. El uso de la información de los empleados para objetivos diferentes a los establecidos en el contrato o cualquier autorización brindada por este está enteramente prohibido. El uso diferente de los datos e información personal de los empleados solo procederá por orden de autoridad competente, siempre que en ella radique tal facultad. Corresponderá a AGENCIAS NACIONALES evaluar la competencia y eficacia de la orden de la autoridad competente, con el fin de prevenir una cesión no autorizada de datos personales. ",

"C) Una vez terminada la relación contractual En caso tal de que la relación laboral sea con AGENCIAS NACIONALES, la empresa procederá a almacenar los datos personales obtenidos del proceso de selección y documentación generada en el desarrollo de la relación laboral, en un archivo central, sometiendo tal información a medidas y niveles de seguridad altos, en base a la posibilidad de que la información pueda tener datos sensibles de la persona. Estos datos serán usados exclusivamente con el fin de emitir certificados relacionados con la relación que tuvo el titular con la empresa; de crear estadísticas e históricos y dar cumplimiento a toda ley colombiana o extranjera y a toda orden judicial, administrativa o propia de entidades privadas que estén ejerciendo servicios públicos. ",

"Tratamiento de datos de proveedores ",
"AGENCIAS NACIONALES solo recolectará de sus proveedores los datos que sean necesarios, pertinentes y no excesivos para la finalidad de selección, evaluación y ejecución del contrato o negocio que haya lugar. Cuando se le exija a AGENCIAS NACIONALES por naturaleza jurídica la divulgación de datos del proveedor persona natural consecuencia de un proceso de contratación, esta se efectuará con las previsiones que den cumplimiento a lo dispuesto en esta norma y que prevengan a terceros sobre la finalidad de la información que se divulga. Estos datos serán usados exclusivamente con el fin de emitir certificados relacionados con la relación que tuvo el titular con la empresa; de crear estadísticas e históricos, envío de invitaciones a eventos programados por la compañía o sus vinculadas, para procesos de facturación y contabilidad, todas las políticas establecidas específicamente en las autorizaciones que sean otorgadas por los propios proveedores, cuando estas se requieran de conformidad con la normatividad vigente o de conformidad con la Ley 1581 del 2012. ",

"En caso de ser necesario, AGENCIAS NACIONALES podrá recolectar datos personales de los empleados de sus proveedores cuando, por motivos de seguridad, deba analizar y evaluar la idoneidad de determinadas personas, atendiendo las características de los servicios que se contraten con el proveedor; o bien cuando la persona sirva de contacto entre el proveedor y AGENCIAS NACIONALES. Si AGENCIAS NACIONALES hace entrega de datos personales de cualquier titular a sus proveedores, estos deberán ser tratados y protegidos en base a lo dictado por las normas vigentes. AGENCIAS NACIONALES verificará que los datos solicitados sean necesarios, pertinentes y no excesivos respecto de la finalidad que fundamente la solicitud de acceso a los mismos.",

"Tratamiento de datos de accionistas Respecto a la información de los accionistas, al ser considerada reservada, no estará registrada en los libros de comercio y tiene el carácter de reserva por disposición legal. No obstante, la información será revelada en los casos establecidos por las normas que regulan el mercado público de valores. Vale la pena aclarar que el acceso a tal información personal se realizará conforme a lo establecido en el Código de Comercio y demás normas que regulan la materia en el país. La finalidad principal del tratamiento de datos de esta información es, en primera instancia, permitir el ejercicio de los deberes y derechos derivados de la calidad de accionista, facilitar el envío de invitaciones a eventos programados por la Compañía y el poder emitir certificados respecto a la relación del titular con AGENCIAS NACIONALES.",

"Tratamiento de datos de clientes Los datos que AGENCIAS NACIONALES recopile de sus clientes serán usados exclusivamente para los siguientes fines:",

"Para cumplir las obligaciones contraídas por AGENCIAS NACIONALES con sus Clientes y Consumidores al momento de adquirir nuestros productos. ",

"Enviar información sobre ofertas relacionadas con nuestros productos. Para el fortalecimiento de las relaciones con sus consumidores y clientes, mediante el envío de información relevante, la toma de pedidos y evaluación de la calidad del servicio. ",

"Enviar información sobre cambios en las condiciones de los productos ofrecidos. ",

"Para la determinación de obligaciones pendientes, la consulta de información financiera e historia crediticia y el reporte a centrales de información de obligaciones incumplidas, respecto de sus deudores. ",

"Toda información que se obtenga de los clientes no será divulgada a ningún tercero a menos que el titular de los datos provea su respectiva autorización para tal proceso. ",

"Respecto a la ley y vigencia de estas políticas Las leyes y normas principales que regulan el tratamiento de datos personales a la fecha son: ",

"Constitución Política, artículo 15. ",

"Ley 1266 de 2008 ",

"Ley 1581 de 2012 ",

"Decretos Reglamentarios 1727 de 2009 y 2952 de 2010.",

"Decreto Reglamentario parcial 1377 de 2013",

"Toda interpretación, actuación judicial o administrativa derivada del tratamiento de los datos personales que conforman las bases de datos de la entidad y la presente política estará sujeta a las normas de protección personal establecidas en la República de Colombia, y las autoridades administrativas o jurisdiccionales competentes para la resolución de cualquier inquietud, queja o demanda sobre las mismas serán las de la República de Colombia. Por otra parte, en general, la información de nuestras Bases de Datos permanecerá siendo tratada mientras se mantenga una relación legal o contractual con el Titular de la información. En todo caso, de manera general, la información no será objeto de tratamiento por un período superior de diez (10) años contados a partir de su recolección de acuerdo con las circunstancias legales o contractuales que hacen necesario el manejo de la información, sin perjuicio de que, en cualquier caso, se mantenga de ser necesario cumplir con gestiones de carácter estadístico, histórico o cualquier obligación de carácter legal.",

"Fecha de publicación y entrada en vigencia: 4 de octubre del 2025"

];

---

<div class="w-full px-8 py-8 sm:px-6 lg:px-100">

    <div class="space-y-10 text-gray-800 text-m leading-[1.7]">

        {paragraphs.map((p) => (
            <p>{p}</p>
        ))}

    </div>

</div>